<meta charset="UTF-8">
<title>{$seo.seo_title}</title>
<meta name="keywords" content="{$seo.seo_keywords}" />
<meta name="description" content="{$seo.seo_description}" />
<link href="_WEB_/css/screen.css" media="screen, projection" rel="stylesheet" type="text/css"/>
<!-- 轮播图样式slide.css -->
<link rel="stylesheet" type="text/css" href="_WEB_/css/commentpage/commentpage.css"/>
<link rel="stylesheet" type="text/css" href="_WEB_/css/slide.css"/>
<script type="text/javascript" src="_WEB_/js/jquery-1.9.1.min.js"></script>