<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<title>中元节_鬼节_习俗_禁忌_91搜墓网</title>
    <meta name="keywords" content="中元节，鬼节，中元节简介，中元节习俗，中元节禁忌" />
    <meta name="description" content="中元节专题，讲述中元节（鬼节）的来历，中元节在民间有很多的禁忌，中元节的相关习俗等。" />
	<link rel="stylesheet" href="_WEB_/topics/css/zhongyuanjie/z_activity.css" />
	<link rel="stylesheet" href="_WEB_/topics/css/zhongyuanjie/topic.css" />
	<link href="_WEB_/css/screen.css" media="screen, projection" rel="stylesheet" type="text/css"/>
	<script type="text/javascript" src="_WEB_/js/jquery-1.8.2.min.js"></script>
</head>
<body>
{include file="extra@topup"/}
{include file="extra@topics_topdown"/}
<!-- 导航 -->
<div class="topics_nav" id="topics_nav">
	<div class="nav-con">	
		<div class="contain">
			<ul>
				<li class="currter"><a href="#">中元节</a></li>
				<li><a href="#2F">中元节简介</a></li>
				<li><a href="#3F">中元节民俗</a></li>
				<li><a href="#4F">中元节发展</a></li>
				<li><a href="#5F">图说中元</a></li>
				<div class="clear"></div>
			</ul>
		</div>
	</div>	
</div><!-- nav导航结束 -->
	<!--banner-->
	<div class="c_banner">	
	</div>
	<div class="c_content">
		<!--内容1-->
		<div id="2F" class="c_content_one">
			<div class="c_content_one_left">
				<!-- <p class="c_tit">
					<img src="_WEB_/topics/images/zhongyuanjie/c_zy.jpg"/><span style="font-size:24px;"> 节的来历　</span><img src="_WEB_/topics/images/zhongyuanjie/c_gui.jpg"/>
				</p> -->
				<img src="_WEB_/topics/images/zhongyuanjie/c_zyjll.gif" alt="" style="margin-left:25px;">
				<div>
					   　　中元节，俗称鬼节、七月半，佛教称为盂兰盆节。中元之名起於北魏，相传，每年七月十五阎王就下令打开地狱之门，让那些终年受苦受难禁锢在地狱的冤魂厉鬼走出地狱，获得短期的游荡，享受人间血食，直至七月结束才回归地府。所以人们称七月为鬼月。
				</div>
			</div>
			<div class="c_content_one_right">
				<!-- <p class="c_tit">
					<img src="_WEB_/topics/images/zhongyuanjie/c_zy.jpg"/><span style="font-size:24px;"> 节的禁忌　</span><img src="_WEB_/topics/images/zhongyuanjie/c_gui.jpg"/>
				</p> -->
				<img src="_WEB_/topics/images/zhongyuanjie/c_zyjj.jpg" alt="" style="margin-left:25px;">
				<div>
					<span>禁忌1：</span>传说这一天的子夜时分，阴气特别重，在鬼节的时候大家要早点回家呆着。 <br />
					<span>禁忌2：</span>不要把两根筷子插在饭中央。<br />
					<span>禁忌3：</span>不可去危险水域戏水。<br />
					<span>禁忌4：</span>不可捡捡路边的钱。<br />
				</div>
			</div>
		</div>
		<br  style="clear:  both;"/>
		<!--内容2-->
		<ul id="3F" class="c_content_two">
			<!--公共的中元节-->
			<!-- <p class="c_tit">
				<img src="_WEB_/topics/images/zhongyuanjie/c_zy.jpg"/><span style="font-size:24px;"> 节的民俗　</span><img src="_WEB_/topics/images/zhongyuanjie/c_gui.jpg"/>
			</p> -->
			<img src="_WEB_/topics/images/zhongyuanjie/c_zymc.jpg" alt="" style="margin-left:25px;">
			<!--定位的华夏中元节-->
			<div class="c_dingwei">
				<img src="_WEB_/topics/images/zhongyuanjie/c_hxzyj.JPG" alt="" style="margin-top:9px;"/>
			</div>
			<p style="height: 10px; clear: both;"></p>
			<!--四个小内容         数据需要循环-->
			<li>
				<div class="c_l_img">
					<img src="_WEB_/topics/images/zhongyuanjie/img_1.gif" alt="" />
				</div>
				<div class="c_r_text">
					<h3>中原普度</h3>
					<p>
						七月十五也是佛教盂兰盆节。“孟兰”在佛经中是倒悬的意思，盆是指供品的盛器，所以“盂兰盆”的意思是用来救倒悬痛苦的器物，衍生出来的意思是：用盆子装满百味五果，供养佛陀和僧侣，以拯救入地狱的苦难众生。 
					</p>
				</div>
			</li>
			
			<li>
				<div class="c_l_img">
					<img src="_WEB_/topics/images/zhongyuanjie/img_2.gif" alt="" />
				</div>
				<div class="c_r_text">
					<h3>中元祭祖</h3>
					<p>
						在七月十五这一天，民间盛行祭祀土地和庄稼。将供品撒进田地。烧纸以后，再用剪成碎条的五色纸，缠绕在农作物的穗子上。传说可以避免冰雹袭击，获得大秋丰收。
					</p>
				</div>
			</li>
			
			<li>
				<div class="c_l_img">
					<img src="_WEB_/topics/images/zhongyuanjie/img_3.gif" alt="" />
				</div>
				<div class="c_r_text">
					<h3>祭祀土地</h3>
					<p>
						祭祖节在阴历七月十五日，所以简称为“七月半”祭祖。此时盛夏已经过去，秋凉刚刚开始。民间相信祖先也会在此时返家探望子孙，故需祭祖。
					</p>
				</div>
			</li>
			
			<li>
				<div class="c_l_img">
					<img src="_WEB_/topics/images/zhongyuanjie/img_4.gif" alt="" />
				</div>
				<div class="c_r_text">
					<h3>放河灯</h3>
					<p>
						河灯也叫“荷花灯”，河灯一般是在底座上放灯盏或蜡烛，中元夜里放在江河湖海之中，任其漂泛。放河灯的目的，是普渡水中的落水鬼和其他孤魂野鬼。 
					</p>
				</div>
			</li>
		</ul>
		
		<!--第三部分-->
		<ul id="4F" class="c_content_three">
			<!--公共的中元节-->
			<!-- <p class="c_tit">
				<img src="_WEB_/topics/images/zhongyuanjie/c_zy.jpg"/><span style="font-size:24px;"> 节的发展：从传统祭祀到网上祭奠　</span><img src="_WEB_/topics/images/zhongyuanjie/c_gui.jpg"/>
			</p> -->
			<img src="_WEB_/topics/images/zhongyuanjie/four.jpg " alt="" style="margin-left:55px;margin-top:10px;">
			<!--定位的华夏中元节-->
			<div class="c_dingwei">
				<img src="_WEB_/topics/images/zhongyuanjie/c_hxzyj.JPG" alt="" style="margin-top:12px;"/>
			</div>
			<p style="height: 10px; clear: both;"></p>
			<!--三个小内容        数据循环地方-->
			<li>
				<div class="c_li_img">
					<img src="_WEB_/topics/images/zhongyuanjie/imga_1.gif" alt=""/>
				</div>
				<div class="c_li_text">
					<h3>传承千年的传统祭奠</h3>
					<p>
						中元节是中国古代重要的节日。节日这天，人们带上祭品，到坟上去祭奠祖先，与清明节上坟相似。这一天一到傍晚，家家在天井或大门口摆出供桌，三牲五果，糕点醇酒，红烛清香，祭拜亡灵，然后再烧纸烧锭。还有人张灯结彩，请法师来设坛祭奠、酬谢众神、普度众鬼。中元节是中国古代重要的节日。节日这天，人们带上祭品，到坟上去祭奠祖先，与清明节上坟相似。
					</p>
				</div>
			</li>
			<li>
				<div class="c_li_img">
					<img src="_WEB_/topics/images/zhongyuanjie/imga_2.gif" alt="" />
				</div>
				<div class="c_li_text">
					<h3>绿色生态的网上祭奠</h3>
					<p>
						进入新世纪之后，许多的年轻人却对传统祭奠方式感动疑惑，认为点蜡烛、焚纸钱污染空气，可能还会带来火灾隐患。有网友希望能够倡导文明祭祀，用其他的方式缅怀先祖。例如让相关部门规划固定区域，规范祭祀行为。 另外一部分网友提倡网上祭奠。
					</p>
				</div>
			</li>
			<li>
				<div class="c_li_img">
					<img src="_WEB_/topics/images/zhongyuanjie/imga_3.gif" alt="" />
				</div>
				<div class="c_li_text">
					<h3>多措并举 传承文化</h3>
					<p>
						部分中元节研究专家指出，中元节自古就有不进寺庙，野外祭祀的说法。由于不是国家法定节假日没有假期，人们只能选择就近的小区、河堤上进行祭祀活动。或许年轻人认为可以另寻方式，如进行网上，但对于老一辈而言，中元节作为一种传统民俗，在野外祭祀是对先祖的一种纪念方式。然而其实无论哪种祭祀方式都不是最重要，最重要的是通过不同的方式，来对中华传统文化作一个传承。
					</p>
				</div>
			</li>
		</ul>
		<!--第四部分-->
		<div id="5F" class="c_content_four">
			<!-- <p class="c_tit">
				<span style="font-size:24px;">　图说 </span>

				<img src="_WEB_/topics/images/zhongyuanjie/c_gui.jpg"/>
			</p> -->
			<img src="_WEB_/topics/images/zhongyuanjie/c_zy.jpg" style="margin-left:70px;margin-top:6px;"/>
			<!--定位的华夏中元节-->
			<div class="c_dingwei">
				<img src="_WEB_/topics/images/zhongyuanjie/c_hxzyj.JPG" alt="" style="margin-top:12px;"/>
			</div>
			<p style="height: 10px; clear: both;"></p>
			
			<div class="c_img_img">
				<div class="c_img_img_l">
					<img src="_WEB_/topics/images/zhongyuanjie/c_img_img1.gif" alt="" />
				</div>
				<div class="c_img_img_r">
					<div>
						<img src="_WEB_/topics/images/zhongyuanjie/c_img_img2.gif" alt="" /> 
						<img src="_WEB_/topics/images/zhongyuanjie/c_img_img3.gif" alt="" style="margin-left:10px;"/> 
						<img src="_WEB_/topics/images/zhongyuanjie/c_img_img4.gif" alt="" style="margin-left:25px;"/> 
					</div>
					<div style="padding-top: 46px;">
						<img src="_WEB_/topics/images/zhongyuanjie/c_img_img5.gif" alt="" />
						<img src="_WEB_/topics/images/zhongyuanjie/c_img_img6.gif" alt="" style="margin-left:30px;"/> 
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="copyright"><p>京IPC备12005803号-4&nbsp;&nbsp;&nbsp;&nbsp;京公安备11000002000088 号&nbsp;&nbsp;&nbsp;&nbsp;<a href="/" title="91搜墓网">91搜墓网</a>版权所有</p>
    <p>CopyRight (C)2015- {php}echo date("Y");{/php}Huigeyuan Technology Allrights</p></div>
	<script type="text/javascript" src="_WEB_/js/common.js"></script>
	<script type="text/javascript">
	$(document).ready(function(){
		//头部地址
		$(".c_down").click(function(){
			$(".search_city").css("display","block");
		})
		//选择城市关闭
		$(".search_close,.city_box ul li").click(function(){
			$(".search_city").hide();
		})

		//导航
        var mt = 0;
        window.onload = function () {
            var mydiv = document.getElementById("topics_nav");
            var mt = mydiv.offsetTop; //当前对象到距离上方或上层控件的位置
            var tt = document.documentElement.scrollTop || document.body.scrollTop;
            if (tt > mt) {
                mydiv.style.position = "fixed";
                mydiv.style.margin = "0";
                mydiv.style.top = "0";
            }
            window.onscroll = function () {
                var t = document.documentElement.scrollTop || document.body.scrollTop;
                if (t > mt) {
                    mydiv.style.position = "fixed";
                    mydiv.style.margin = "0";
                    mydiv.style.top = "0";
                }
                else {
                    mydiv.style.position = "static";
                }
            }
        }
		$(".topics_nav ul li").click(function(){
			$(".topics_nav ul li").removeClass();
			$(this).addClass("currter");
		});

		//头部地区tab切换
		jQuery.jqtab = function(tabtit,tabcon) {
		        $(tabcon).hide();
		        $(tabtit+" li:first").addClass("thistab").show();
		        $(tabcon+":first").show();
		    
		        $(tabtit+" li").click(function() {
		            $(tabtit+" li").removeClass("thistab");
		            $(this).addClass("thistab");
		            $(tabcon).hide();
		            var activeTab = $(this).find("a").attr("tab");
		            $("#"+activeTab).show();
		            return false;
		        });
		    };
		    /*调用方法如下：*/
		    $.jqtab("#city_nav",".city_box");
	});
</script>
</body>
</html>