{extend name='extra@articlemain' /}
{block name="link"}
    <link href="_WEB_/css/fe_slide.css" rel="stylesheet" type="text/css"/>
{/block}
{block name='body'}
    <!-- 殡葬百科 -->
    <div class="contain contain_pdsize fe_main">
        
        <!-- 热点聚焦 轮播 -->
        <div class="fe_hot clearfix">

            <!-- 热点聚焦 -->
            <div class="fe_hot_left">
                
                <!-- title -->
                <div class="fe_title">
                    <h2>热点聚焦</h2>
                    <div class="clear"></div>
                    <span class="bg"></span>
                </div><!-- title End -->
                <ul>
                    {volist name="hotdata" id="vo"}
                        <li>
                            <h3><a target="_blank" href="{:url('article/Article/detail',['id'=>$vo.id])}" title='{$vo.title}'>{$vo.title|msubstr=0,28}</a></h3>
                            <p>{$vo.summary|msubstr=0,30}</p>
                        </li>
                    {/volist}
                </ul>
            </div><!-- fe_hot_left 热点聚焦 End -->

            <!-- 轮播 -->
            <div class="fe_hot_right">
                <div id="fe_hot_flexslider" class="fe_hot_flexslider">
                    <ul class="slides">
                        {volist name="picdata" id="vo"}
                            <li>
                                <div class="img">
                                    <a target="_blank" href="{:url('article/Article/detail',['id'=>$vo.id])}" title="{$vo.title}">
                                        <img {empty name="vo.image_url"} src = "_WEB_/images/fe_list_img.jpg" {else /} src="{$vo.image_url}"{/empty}   height="388" width="622" alt="{$vo.title}" />
                                        <h3>{$vo.title|msubstr=0,23}</h3>
                                    </a>
                                </div>
                            </li>
                        {/volist}
                    </ul>
                </div><!-- fe_hot_flexslider 轮播 End -->
            </div><!-- fe_hot_right 轮播 End -->

        </div><!-- fe_hot 热点聚焦 轮播 End -->
        
        <!-- 91资讯 -->
        <div class="fe_information clearfix">
            
            <!-- title -->
            <div class="fe_title">
                <h2>91资讯</h2>
                <ul class="clearfix">
                    <li><a target="_blank" href="{:url('article/Article/listbox',['cid'=>$Think.config.article_91_headline])}" title="91头条">91头条</a></li>
                    <li><a target="_blank" href="{:url('article/Article/listbox',['cid'=>$Think.config.article_com_culture])}" title="企业软文">企业软文</a></li>
                </ul>
                <div class="clear"></div>
                <span class="bg"></span>
            </div><!-- title End -->
            
            <!-- 左侧 -->
            <div class="fe_information_left">
                {volist name="companydata" id="vo"}
                    {eq name="i" value="1"}
                        <div class="first">
                            <img {empty name="vo.image_url"} src = "_WEB_/images/fe_list_img.jpg" {else /} src="{$vo.image_url}"{/empty}  alt="{$vo.title}"/>
                            <h3><a target="_blank" href="{:url('article/Article/detail',['id'=>$vo.id])}" title="{$vo.title}">{$vo.title|msubstr=0,23}<i class="zx"></i></a></h3>
                            <p>{$vo.summary|msubstr=0,25}</p>
                        </div>
                        <ul>
                    {/eq}
                    {neq name="i" value="1"}
                        <li><a target="_blank" href="{:url('article/Article/detail',['id'=>$vo.id])}" title="{$vo.title}">{$vo.title|msubstr=0,23}</a></li>
                    {/neq}
                {/volist}
                    </ul>
            </div><!-- fe_information_left End -->
            
            <!-- 右侧 -->
            <div class="fe_information_right">
                <div class="fe_type_a clearfix">
                    <ul>
                        {volist name="culdata" id="vo"}
                            <li class="clearfix">
                                <div class="fe_type_a_img">
                                    <a target="_blank" href="{:url('article/Article/detail',['id'=>$vo.id])}" title="{$vo.title}"><img   {empty name="vo.thumb_url"} src = "_WEB_/images/fe_list_img.jpg" {else /} src="{$vo.thumb_url}"{/empty}   alt="{$vo.title}" /></a>
                                </div>
                                <div class="fe_type_a_text">
                                    <h3><a target="_blank" href="{:url('article/Article/detail',['id'=>$vo.id])}" title="{$vo.title}">{$vo.title|msubstr=0,23}</a></h3>
                                    <p class="time">时间：{$vo.published_time|date="Y-m-d",###}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;阅读量：{$vo.hits}</p>
                                    <p>{$vo.summary|msubstr=0,60}</p>
                                </div>
                            </li>
                        {/volist}
                    </ul>
                </div><!-- fe_type_a End -->
            </div><!-- fe_information_right 右侧 End -->

        </div><!-- fe_information 91资讯 End -->
        
        <!-- 业界动态 -->
        <div class="fe_dynamic clearfix">

            <!-- title -->
            <div class="fe_title">
                <h2>业界动态</h2>
                <ul class="clearfix">
                    <li><a target="_blank" href="{:url('article/Article/listbox',['cid'=>$Think.config.article_industry_dynamic])}" title="行业新闻">行业新闻</a></li>
                    <li><a target="_blank" href="{:url('article/Article/listbox',['cid'=>$Think.config.article_laws_regulations])}" title="政策法规">政策法规</a></li>
                </ul>
                <div class="clear"></div>
                <span class="bg"></span>
            </div><!-- title End -->
            
            <!-- 左侧 -->
            <div class="fe_dynamic_left">
                <div class="fe_type_b">
                    <ul>
                        {volist name="professiondata" id="vo"}
                            <li><a target="_blank" href="{:url('article/Article/detail',['id'=>$vo.id])}" title="{$vo.title}">{$vo.title|msubstr=0,23}</a></li>
                        {/volist}
                    </ul>
                    <ul>
                        {volist name="lawsdata" id="vo"}
                            <li><a target="_blank" href="{:url('article/Article/detail',['id'=>$vo.id])}" title='{$vo.title}'>{$vo.title|msubstr=0,23}</a></li>
                        {/volist}
                    </ul>
                </div><!-- fe_type_b End -->
            </div><!-- fe_dynamic_left 左侧 End -->

            <!-- 右侧 -->
            <div class="fe_dynamic_right">
                {volist name="prolawdata" id="vo"}
                    {eq name='i' value='1'}
                        <div class="fe_dynamic_img1">
                            <a target="_blank" href="{:url('article/Article/detail',['id'=>$vo.id])}" title='{$vo.title}'>
                                <img {empty name="vo.image_url"} src = "_WEB_/images/fe_list_img.jpg" {else /} src="{$vo.image_url}"{/empty} alt="{$vo.title}"/>
                                <h3>{$vo.title|msubstr=0,23}</h3>
                            </a>
                        </div>
                        <div class="fe_dynamic_imgbottom clearfix">
                            <ul>
                    {/eq}
                    {neq name='i' value='1'}
                            <li {eq name='i' value='2'}class="first"{/eq}>
                                <a target="_blank" href="{:url('article/Article/detail',['id'=>$vo.id])}" title='{$vo.title}'>
                                    <img {empty name="vo.image_url"} src = "_WEB_/images/fe_list_img.jpg" {else /} src="{$vo.image_url}"{/empty} alt="{$vo.title}"/>
                                    <h3>{$vo.title|msubstr=0,23}</h3>
                                </a>
                            </li>
                    {/neq}
                {/volist}
                        </ul>
                    </div>
            </div><!-- fe_dynamic_right 右侧 End -->
        </div><!-- fe_dynamic 业界动态 End -->

        <!-- 风水文化 白事常识 -->
        <div class="fe_culture clearfix">

            <!-- 风水文化 左侧 -->
            <div class="fe_culture_left">

                <!-- title -->
                <div class="fe_title">
                    <h2>风水文化</h2>
                    <span class="more"><a target="_blank" href="{:url('article/Article/listbox',['cid'=>$Think.config.article_fengshui_culture])}" title='风水文化'>更多></a></span>
                    <div class="clear"></div>
                    <span class="bg"></span>
                </div><!-- title End -->
                <div class="fe_type_c">
                    {volist name="fengshuidata" id="vo"}
                        {eq name="i" value="1"}
                            <div class="img">
                                <a target="_blank" href="{:url('article/Article/detail',['id'=>$vo.id])}" title="{$vo.title}">
                                    <img {empty name="vo.image_url"} src = "_WEB_/images/fe_list_img.jpg" {else /} src="{$vo.image_url}"{/empty} alt="{$vo.title}" />
                                    <h3><a target="_blank" href="{:url('article/Article/detail',['id'=>$vo.id])}" title="{$vo.title}">{$vo.title|msubstr=0,23}</a></h3>
                                </a>
                            </div>
                            <ul>
                        {/eq}
                        {neq name="i" value="1"}
                            <li><a target="_blank" href="{:url('article/Article/detail',['id'=>$vo.id])}" title="{$vo.title}">{$vo.title|msubstr=0,23}</a></li>
                        {/neq}
                    {/volist}
                    </ul>
                </div><!-- fe_type_c End -->
            </div><!-- fe_culture_left 风水文化 左侧 End -->
            
            <!-- 白事常识 右侧 -->
            <div class="fe_culture_right">
                <!-- title -->
                <div class="fe_title">
                    <h2>白事常识</h2>
                    <span class="more"><a target="_blank" href="{:url('article/Article/listbox',['cid'=>$Think.config.article_sense])}" title='白事常识'>更多></a></span>
                    <div class="clear"></div>
                    <span class="bg"></span>
                </div><!-- title End -->
                <div class="fe_type_a clearfix">
                    <ul>
                        {volist name="sensedata" id="vo"}
                            <li class="clearfix">
                                <div class="fe_type_a_img">
                                    <a target="_blank" href="{:url('article/Article/detail',['id'=>$vo.id])}" title="{$vo.title}"><img  {empty name="vo.thumb_url"} src = "_WEB_/images/fe_list_img.jpg" {else /} src="{$vo.thumb_url}"{/empty} alt="{$vo.title}"/></a>
                                </div>
                                <div class="fe_type_a_text">
                                    <h3><a target="_blank" href="{:url('article/Article/detail',['id'=>$vo.id])}" title="{$vo.title}">{$vo.title|msubstr=0,23}</a></h3>
                                    <p>{$vo.summary|msubstr=0,60}</p>
                                </div>
                            </li>
                        {/volist}
                    </ul>
                </div><!-- fe_type_a End -->
            </div><!-- fe_culture_right 白事常识 右侧 End -->

        </div><!-- fe_culture 风水文化 白事常识 End -->
        
        <!-- 民俗文化 -->
        <div class="fe_folkways clearfix">

            <!-- title -->
            <div class="fe_title">
                <h2>民俗文化</h2>
                <ul class="clearfix">
                    <li><a target="_blank" href="{:url('article/Article/listbox',['cid'=>$Think.config.article_traditional_festival])}"  title='传统节日'>传统节日</a></li>
                    <li><a target="_blank" href="{:url('article/Article/listbox',['cid'=>$Think.config.article_sacrifice_custom])}" title='祭祀习俗'>祭祀习俗</a></li>
                    <li><a target="_blank" href="{:url('article/Article/listbox',['cid'=>$Think.config.article_burial_custom])}" title='丧葬习俗'>丧葬习俗</a></li>
                </ul>
                <div class="clear"></div>
                <span class="bg"></span>
            </div><!-- title End -->

            <!-- 左侧 -->
            <div class="fe_folkways_left clearfix">
                <div class="fe_type_b">
                    <ul>
                        {volist name="cusdata" id="vo"}
                            <li><a target="_blank" href="{:url('article/Article/detail',['id'=>$vo.id])}" title="{$vo.title}">{$vo.title|msubstr=0,23}</a></li>
                        {/volist}
                    </ul>
                    <ul>
                        {volist name="jsdata" id="vo"}
                            <li><a target="_blank" href="{:url('article/Article/detail',['id'=>$vo.id])}" title="{$vo.title}">{$vo.title|msubstr=0,23}</a></li>
                        {/volist}
                    </ul>
                </div><!-- fe_type_b End -->
            </div><!-- fe_folkways_left 左侧 End -->
            
            <!-- 右侧 -->
            <div class="fe_folkways_right clearfix">
                <div class="fe_folkways_right_main left">
                    {volist name="festivaldataone" id="vo"}
                        {eq name="i" value="1"}
                        <div class="img">
                            <a target="_blank" href="{:url('article/Article/detail',['id'=>$vo.id])}" title="{$vo.title}">
                                <img {empty name="vo.image_url"} src = "_WEB_/images/fe_list_img.jpg" {else /} src="{$vo.image_url}"{/empty} alt="{$vo.title}"/>
                                <h3>{$vo.title|msubstr=0,23}</h3>
                            </a>
                        </div>
                        <ul>
                        {/eq}
                        {neq name="i" value="1"}
                            <li><a target="_blank" href="{:url('article/Article/detail',['id'=>$vo.id])}" title="{$vo.title}">{$vo.title|msubstr=0,15}</a></li>
                        {/neq}
                    {/volist}
                    </ul>
                </div>
                <div class="fe_folkways_right_main">
                    {volist name="festivaldatatwo" id="vo"}
                        {eq name="i" value="1"}
                        <div class="img">
                            <a target="_blank" href="{:url('article/Article/detail',['id'=>$vo.id])}" title="{$vo.title}">
                                <img {empty name="vo.image_url"} src = "_WEB_/images/fe_list_img.jpg" {else /} src="{$vo.image_url}"{/empty} alt="{$vo.title}"/>
                                <h3>{$vo.title|msubstr=0,23}</h3>
                            </a>
                        </div>
                        <ul>
                        {/eq}
                        {neq name="i" value="1"}
                            <li><a target="_blank"  href="{:url('article/Article/detail',['id'=>$vo.id])}" title="{$vo.title}">{$vo.title|msubstr=0,15}</a></li>
                        {/neq}
                    {/volist}
                    </ul>
                </div>
            </div><!-- fe_folkways_right 右侧 End -->

        </div><!-- fe_folkways 民俗文化 End -->
        
        <!-- 生命礼赞 考古 -->
        <div class="fe_life clrarfix">

            <!-- 左侧 -->
            <div class="fe_life_left">

                <!-- title -->
                <div class="fe_title">
                    <h2>生命礼赞</h2>
                    <ul class="clearfix">
                        <li><a target="_blank" href="{:url('article/Article/listbox',['cid'=>$Think.config.article_life_sentiment])}" title='人生感悟'>人生感悟</a></li>
                        <li><a target="_blank" href="{:url('article/Article/listbox',['cid'=>$Think.config.article_cemetry_story])}" title='陵园故事'>陵园故事</a></li>
                        <li><a target="_blank" href="{:url('article/Article/listbox',['cid'=>$Think.config.article_lucky_celebrity])}" title='福地名人'>福地名人</a></li>
                    </ul>
                    <div class="clear"></div>
                    <span class="bg"></span>
                </div><!-- title End -->
                <div class="fe_type_c">
                    {volist name="lifedata" id="vo"}
                        {eq name="i" value="1"}
                            <div class="img">
                                <a target="_blank" href="{:url('article/Article/detail',['id'=>$vo.id])}" title="{$vo.title}">
                                    <img  {empty name="vo.image_url"} src = "_WEB_/images/fe_list_img.jpg" {else /} src="{$vo.image_url}"{/empty}  alt="{$vo.title}" />
                                    <h3><a target="_blank" href="{:url('article/Article/detail',['id'=>$vo.id])}" title="{$vo.title}">{$vo.title|msubstr=0,25}</a></h3>
                                </a>
                            </div>
                            <ul>
                        {/eq}
                        {neq name="i" value="1"}
                            <li><a target="_blank" href="{:url('article/Article/detail',['id'=>$vo.id])}" title="{$vo.title}">{$vo.title|msubstr=0,25}</a></li>
                        {/neq}
                    {/volist}
                    </ul>
                </div><!-- fe_type_c End -->

            </div><!-- fe_life_left 左侧 End -->
        
            <!-- 右侧 -->
            <div class="fe_life_right">

                <!-- title -->
                <div class="fe_title">
                    <h2>考古</h2>
                    <span class="more"><a target="_blank" href="{:url('article/Article/listbox',['cid'=>$Think.config.article_kg_culture])}" title="考古">更多></a></span>
                    <div class="clear"></div>
                    <span class="bg"></span>
                </div><!-- title End -->
                <div class="fe_type_a clearfix">
                    <ul>
                        {volist name="kgdata" id="vo"}
                            <li class="clearfix">
                                <div class="fe_type_a_img">
                                    <a href="{:url('article/Article/detail',['id'=>$vo.id])}" title="{$vo.title}"><img {empty name="vo.thumb_url"} src = "_WEB_/images/fe_list_img.jpg" {else /} src="{$vo.thumb_url}"{/empty} alt="{$vo.title}"/></a>
                                </div>
                                <div class="fe_type_a_text">
                                    <h3><a target="_blank" href="{:url('article/Article/detail',['id'=>$vo.id])}" title="{$vo.title}">{$vo.title|msubstr=0,23}</a></h3>
                                    <p>{$vo.summary|msubstr=0,60}</p>
                                </div>
                            </li>
                        {/volist}
                    </ul>
                </div><!-- fe_type_a End -->
            </div><!-- fe_life_right 右侧 End -->

        </div><!-- fe_folkways 生命礼赞 End -->

    </div><!-- contain 殡葬百科 End -->
{/block}
{block name="js"}
    <script type="text/javascript" src="_WEB_/js/fe_slider.js"></script>
    <script type="text/javascript">
        $(function(){
            //轮播
            $('#fe_hot_flexslider').flexslider({
                animation: "slide",
                direction:"horizontal",
                easing:"swing"
            });
        });
    </script>
{/block}
  
    