{extend name='extra@main' /}
{block name="body"}
<div style="width:100%;height:50px;border-bottom:1px solid #E2E2E2;line-height:50px;padding-left:30px">
    <span class="layui-breadcrumb" style="font-size:20px">
        <a href="/">首页</a>
        <a href="{:url('store/Basestore/funeral')}">殡仪馆列表</a>
    </span>
</div>
<div class="layui-form" style="margin-top: 10px;margin-left: 10px;">
    <form action="{:url('store/Basestore/funeral')}">
        <div class="layui-form-item">
            {php}
                if(showHandle('store/Basestore/addfuneral')){
            {/php}
                <div class="layui-inline">
                    <a href="{:url('store/Basestore/addfuneral',['nowPage' => $jump['nowPage'],'store_name' => $jump['store_name'],'province' => $jump['province'],'city' => $jump['city']])}" class="layui-btn">增加</a>
                </div>
            {php}
                }
            {/php}
            <div class="layui-inline">
                <input type="text" name="store_name" lay-verify="title" autocomplete="off" placeholder="请输入殡仪馆名称" value="{$Think.get.store_name}" class="layui-input">
            </div>
            <div class="layui-inline">
                <select name="province" lay-filter="province">
                    <option value="0">请选择省</option>
                    {notempty name="province"}
                        {volist name="province" id="p"}
                            <option value="{$p.id}" {eq name="Think.get.province" value="$p.id"} selected="selected" {/eq}>{$p.name}</option>
                        {/volist}
                    {/notempty}
                </select>
            </div>
            <div class="layui-inline">
                <select name="city">
                    <option value="0">请选择市</option>
                    {notempty name="city"}
                        {volist name="city" id="c"}
                            <option value="{$c.id}" {eq name="Think.get.city" value="$c.id"} selected="selected" {/eq}>{$c.name}</option>
                        {/volist}
                    {/notempty}
                </select>
            </div>
            <div class="layui-inline">
                <button class="layui-btn layui-btn-normal">搜索</button>
            </div>
        </div>
    </form>
    {notempty name="store"}
        <table class="layui-table">
            <colgroup>
                <col width="150">
                <col width="100">
                <col width="50">
                <col width="100">
                <col width="150">
                <col>
            </colgroup>
            <thead>
                <tr> 
                    <th>商家名称</th>
                    <th>商家地址</th>
                    <th>状态</th>
                    <th>创建时间</th>
                    <th>操作</th>
                </tr> 
            </thead>
            <tbody>
                {volist name="store" id="fun"}
                    <tr>
                        <td>{$fun.name}</td>
                        <td>{$fun.province.name}/{$fun.city.name}</td>
                        <td>
                            {switch name="fun.status"}
                                {case value="$Think.config.normal_status"}开启{/case}
                                {case value="$Think.config.default_status"}审核{/case}
                                {case value="$Think.config.delete_status"}删除{/case}
                            {/switch}
                        </td>
                        <td>
                            {notempty name="fun.created_time"}
                                {$fun.created_time|date="Y-m-d H:i:s",###}
                            {/notempty}
                        </td>
                        <td>
                            {php}
                                if(showHandle('store/Basestore/editfuneral')){
                            {/php}
                                <a href="{:url('store/Basestore/editfuneral',['id' => $fun.id,'nowPage' => $jump['nowPage'],'store_name' => $jump['store_name'],'province' => $jump['province'],'city' => $jump['city']])}" class="layui-btn layui-btn-small" style="background-color: #4b5cc4;">编辑</a>
                            {php}
                                }
                                if(showHandle('store/Basestore/delete')){
                            {/php}    
                                {eq name="fun.status" value="1"}
                                    <span class="layui-btn layui-btn-small layui-btn-danger del_btn" data-id="{$fun.id}" data-status="-1">禁用</span>
                                {else/}
                                    <span class="layui-btn layui-btn-small enb_btn" data-id="{$fun.id}" data-status="1" style="background-color: #00e079;">启用</span>
                                {/eq}
                            {php}
                                }
                                if(showHandle('store/Basestore/storealbum')){
                            {/php} 
                                <a href="{:url('store/Basestore/storealbum',['id' => $fun.id,'store_name'=>$fun.name,'category_id'=>$fun.category_id])}" class="layui-btn layui-btn-normal layui-btn-small">相册</a>
                            {php}
                                }
                                if(showHandle('store/Basestore/storeContact')){
                            {/php} 
                                <a href="{:url('store/Basestore/storeContact',['id'=>$fun.id,'store_name'=>$fun.name,'category_id'=>$fun.category_id])}" class="layui-btn layui-btn-warm layui-btn-small">联系人</a>
                            {php}
                                }
                            {/php}
                        </td>
                    </tr>
                {/volist}
            </tbody>
        </table>
        {$page}
    {/notempty}
</div>
{/block}
{block name="optJS"}
    <script>
        layui.use(['jquery', 'layer', 'form'], function() {
            var $ = layui.jquery,
                layer = layui.layer,
                data,
                form = layui.form();
            form.on('select(province)', function(data) {
                var provinceId = data['value'];
                $.ajax({
                    url: "{:url('getRegion')}",
                    type: 'get',
                    data: {
                        id: provinceId
                    },
                    dataType: 'json',
                    success: function(jsonData) {
                        var c = '<option value="">请选择市</option>';
                        if (jsonData) {
                            if (jsonData['code'] == 1) {
                                var data = jsonData['data'];
                                $.each(data, function(key, val) {
                                    c += '<option value="' + key + '">' + val + '</option>';
                                })
                            }
                        }
                        $('select[name="city"]').empty().append(c);
                        form.render();
                    }
                })
            });
            $('.del_btn').on('click', function() {
                var id = $(this).data('id'),
                    status = $(this).data('status');
                layer.confirm('確定要禁用？', {
                    icon: 3,
                    title: '提示'
                }, function(index) {
                    data = {
                        id: id,
                        status: status
                    };
                    _del(data);
                });
            });

            $('.enb_btn').on('click', function() {
                var id = $(this).data('id'),
                    status = $(this).data('status');
                data = {
                    id: id,
                    status: status
                };
                _del(data);
            })

            function _del(info) {
                $.ajax({
                    url: "{:url('store/Basestore/delete')}",
                    type: 'get',
                    data: info,
                    dataType: 'json',
                    success: function(result) {
                        if (result) {
                            if (result['code'] == 1) {
                                window.location.reload();
                            }
                        }
                    }
                })
            }
        })
    </script>
{/block}